./project-medical-device/machine_learning/.venv/
./project-medical-device/machine_learning/artifacts/
./project-medical-device/machine_learning/cache/
./project-medical-device/machine_learning/poetry.lock
./project-medical-device/machine_learning/pyproject.toml