# Root Python environment
.venv/

# Machine Learning
machine_learning/.venv/
machine_learning/artifacts/
machine_learning/cache/
machine_learning/data/images/
machine_learning/__pycache__/
machine_learning/plots/

# Poetry
machine_learning/poetry.lock
machine_learning/pyproject.toml