# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# PyTorch / ML (optional, aber üblich)
*.pt
*.pth
*.ckpt

# Logs
*.log

#SQlite tool
*sqlite3

# Django
*.sqlite3
/xray_images
/.idea/*