<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(#{error404.headTitle})}"></head>
<body>
<div class="app-shell">
    <div th:replace="~{fragments/nav :: nav('patients')}"></div>
    <!--TODO style auslagern in css-->
    <div class="main-content">
        <main class="pr-page">
            <div class="pr-panel error-page">
                <h2 class="error-subtitle">404</h2>
                <p class="error-info" th:text="#{error404.message}">Not found</p>
                <a class="btn-primary" th:href="@{/patients}"  th:text="#{buttons.back}">Back to Patient Overview</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>
