<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="side-menu" th:fragment="nav(active)">
    <div class="side-menu__logo">ALM-DR-AI</div>

    <nav class="side-menu__nav">
        <a th:href="@{/patients}"
           class="side-menu__item"
           th:classappend="${active == 'patients'} ? 'is-active' : ''">
            Patient Management
        </a>
    </nav>

    <div class="side-menu__bottom">
        <a th:href="@{/dsgvo/impressum}"
           class="side-menu__item">
            <span>Impressum</span>
        </a>
        <a th:href="@{/dsgvo/datenschutzerklaerung}"
           class="side-menu__item">
            <span>Datenschutzerklärung</span>
        </a>
    </div>
</aside>
</body>
</html>
