<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="side-menu" th:fragment="nav(active)">
    <div class="side-menu__logo">ALM-DR-AI</div>

    <nav class="side-menu__nav">
        <a th:href="@{/patients}"
           class="side-menu__item"
           th:classappend="${active == 'patients'} ? 'is-active' : ''"
           th:text="#{nav.patientManagement}">
            Patient Management
        </a>
        <a th:href="@{?sprache=de}">Deutsch</a>
        <a th:href="@{?sprache=en}">Englisch</a>
        <a th:href="@{?sprache=nl}">Niederländisch</a>
    </nav>

    <div class="side-menu__bottom">
        <a th:href="@{/dsgvo/impressum}"
           class="side-menu__item">
            <span th:text="#{nav.impressum}">Impressum</span>
        </a>
        <a th:href="@{/dsgvo/datenschutzerklaerung}"
           class="side-menu__item">
            <span th:text="#{nav.datenschutzerklaerung}">Datenschutzerklärung</span>
        </a>
    </div>
</aside>
</body>
</html>
